{% extends 'base.html.twig' %}

{% block body %}
    <h2>Preuve d'achat pour {{ item.title }}</h2>

    {{ form_start(form) }}
        {{ form_row(form.purchaseProof) }}
        {{ form_row(form.congratulatoryText) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}