<!-- Navigation-->
<nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background:#14223C">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="{{ path('app_home') }}">WEBAPP-GROUP7</a>

        <div>
            <a href="{{ path('wishlist_list') }}" class="text-white text-decoration-none">Wishlists</a>
        </div>

        <div class="d-flex align-items-center gap-3">
            <div class="rounded-pill text-white px-3 py-1" style="background:#00B8DE">
                Bienvenue, {{ app.user ? app.user.firstName : 'Invité' }}
            </div>

            {% if not app.user %}
                <a href="{{ path('app_login') }}" class="btn btn-primary" style="border:none;">Login</a>
                <a href="{{ path('app_register') }}" class="btn btn-secondary" style="border:none;">Register</a>
            {% else %}
                <a href="{{ path('app_logout') }}" class="btn btn-danger" style="border:none;">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>