{#
Binôme 20
Auguste Celerier, Éric Khella
#}

{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin{% endblock %}

{% block body %}
    <div class="container mt-7">
        <h2 class="text-center">Tableau de bord Administrateur</h2>

        {# Top 3 des achats les plus chers #}
        <h3 class="mt-4">Top 3 des articles les plus chers achetés</h3>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Acheteur</th>
                <th>Destinataire</th>
            </tr>
            </thead>
            <tbody>
            {% for purchase in topPurchases %}
                <tr>
                    <td>{{ purchase.item.title }}</td>
                    <td>{{ purchase.item.price }}€</td>
                    <td>{{ purchase.buyer.firstName }} {{ purchase.buyer.lastName }}</td>
                    <td>{{ purchase.item.wishlist.owner.firstName }} {{ purchase.item.wishlist.owner.lastName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# Top 3 des listes par valeur totale #}
        <h3 class="mt-4">Top 3 des listes par valeur totale</h3>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>Liste</th>
                <th>Propriétaire</th>
                <th>Valeur totale</th>
            </tr>
            </thead>
            <tbody>
            {% for wishlist in topWishlists %}
                <tr>
                    <td>{{ wishlist.0.name }}</td>
                    <td>{{ wishlist.0.owner.firstName }} {{ wishlist.0.owner.lastName }}</td>
                    <td>{{ wishlist.totalValue }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
