{% extends 'base.html.twig' %}

{% block title %}Mes Wishlists{% endblock %}

{% block body %}

    <!-- Masthead-->
    <header class="masthead text-white text-center" style="position: relative; background:#99cc99">
      <div class="container">
        <div class="row align-items-center">
          <!-- Colonne de gauche pour le texte et le divider -->
          <div class="col-md-5 text-start">
            <h1 class="masthead-heading mb-0">Partagez vos envies!</h1>
            <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-gift"></i></div>
              <div class="divider-custom-line"></div>
            </div>
          </div>
          <!-- Colonne de droite pour l'image -->
          <div class="col-md-7 text-end">
            <img class="masthead-avatar" src="{{ asset('images/presentation1.png') }}" alt="Illustration" style="width: 450px; height: auto;">
          </div>
        </div>
      </div>
      <!-- Conteneur des boutons chevauchant header et section suivante -->
      <div class="position-absolute start-50 translate-middle-x" style="bottom: -35px; z-index: 10;">
        <a href="{{ path('app_wishlist_new') }}" class="btn btn-secondary btn-lg me-3">
          <i class="fas fa-plus me-1"></i> Ajouter une nouvelle wishlist
        </a>
        <a href="#" class="btn btn-secondary btn-lg">
          <i class="fas fa-envelope me-1"></i> Invitations
        </a>
      </div>
    </header>

    <!-- Wishlist Section-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Mes Wishlists</h2>
        {% if user.wishlists|length == 0 %}
          <h3 class="text-center" style="font-size: 2.5rem; margin-top: 2rem;">Aucune wishlist en cours</h3>
        {% else %}
          <div class="row justify-content-center">
            {% for wishlist in user.wishlists %}
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ loop.index }}">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="background:#00B8DE">
                    <a href="{{ path('app_wishlist_items', {'id': wishlist.id, 'wishlist': wishlist}) }}">
                      <div class="portfolio-item-caption-content text-center text-white m-2">
                        <i class="fas fa-list fa-2x"></i>
                      </div>
                    </a>
                    <a href="{{ path('app_wishlist_edit', {'id': wishlist.id}) }}">
                      <div class="portfolio-item-caption-content text-center text-white m-2">
                        <i class="fas fa-edit fa-2x"></i>
                      </div>
                    </a>
                    <a href="{{ path('app_wishlist_share', {'id': wishlist.id}) }}">
                      <div class="portfolio-item-caption-content text-center text-white m-2">
                        <i class="fas fa-share fa-2x"></i>
                      </div>
                    </a>
                    <a href="{{ path('app_wishlist_delete', {'id': wishlist.id}) }}">
                      <div class="portfolio-item-caption-content text-center text-white m-2">
                        <i class="fas fa-trash fa-2x"></i>
                      </div>
                    </a>
                  </div>
                  <img class="img-fluid" src="{{ asset('images/gift_bg.png') }}" alt="Wishlist item">
                  <div class="wishlist-name text-center mt-2">
                    {{ wishlist.name }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Wishlists en collaboration</h2>
          <div class="row justify-content-center">
            {% set length = 0 %}
            {% for invitation in user.invitations %}
              {% if invitation.status %}
                {% set wishlist = invitation.wishlist %}
                <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ loop.index }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="background:#00B8DE">
                      <a href="{{ path('app_wishlist_items', {'id': wishlist.id, 'wishlist': wishlist}) }}">
                        <div class="portfolio-item-caption-content text-center text-white m-2">
                          <i class="fas fa-list fa-2x"></i>
                        </div>
                      </a>
                    </div>
                    <img class="img-fluid" src="{{ asset('images/gift_bg.png') }}" alt="Wishlist item">
                    <div class="wishlist-name text-center mt-2">
                      {{ wishlist.name }}
                    </div>
                  </div>
                </div>
                {% set length = length + 1 %}
              {% endif %}
            {% endfor %}
            {% if length == 0 %}
              <h3 class="text-center" style="font-size: 2.5rem; margin-top: 2rem;">Aucune wishlist en cours</h3>
            {% endif %}
          </div>
      </div>
    </section>
{% endblock %}
