{% extends 'base.html.twig' %}

{% block title %}Partager la Wishlist{% endblock %}

{% block body %}

       {# Bouton retour en haut à droite #}
       <a href="{{ path('wishlist_list') }}" class="back-button bg-primary" aria-label="Retour vers la liste des wishlists">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="mycontainer">
        <!-- Partie gauche : Affichage de l'image -->
        <div class="left">
            <img src="{{ asset('images/new_wishlist.jpg') }}" alt="Illustration partage">
        </div>
        <!-- Partie droite : Contenu texte et formulaires de partage -->
        <div class="right" style="background:#00B8DE">
            <h1>Créer une nouvelle liste de souhaits</h1>
            <p>Vous pourrez y ajouter tous les produits qui vous font envie..</p>
            
            <hr>

            {{ form_start(form) }}
            {{ form_row(form._token) }} {# Explicitly render the CSRF token #}

            <div class="mb-3">
                {{ form_label(form.name, 'Nom de la wishlist', {'label_attr': {'class': 'form-label text-white'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.deadline, 'Date limite', {'label_attr': {'class': 'form-label text-white'}}) }}
                {{ form_widget(form.deadline, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
            </div>

            <div class="d-grid gap-2">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-light btn-lg'}}) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}