{% extends 'base.html.twig' %}

{% block title %}Partager la Wishlist{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}


{% block body %}

    {# Bouton retour en haut à droite #}
    <a href="{{ path('wishlist_list') }}" class="back-button bg-primary" aria-label="Retour vers la liste des wishlists">
        <i class="fas fa-arrow-left"></i>
    </a>
<div class="mycontainer">
  <!-- Partie gauche : Affichage de l'image -->
  <div class="left">
    <img src="{{ asset('images/sharePic.png') }}" alt="Illustration partage">
  </div>
  <!-- Partie droite : Contenu texte et formulaires de partage -->
  <div class="right">
    <h1>Partagez cette wishlist à vos proches</h1>
    <p>Ils pourront alors consulter votre liste et réserver des cadeaux.</p>
    
    <hr>
    
    <h4>Copiez le lien ci-dessous et envoyez-le à vos proches :</h4>
    <label for="publicUrl1">Lien de partage :</label>
    <input id="publicUrl1" type="text" value="{{ public_url }}" readonly>
    <form action="{{ path('wishlist_share_to_users', {'id': wishlist.id}) }}" method="POST">
      <select name="users[]" multiple>
        {% for user in users %}
          <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
      </select>
      <button type="submit">envoyez à</button>
    </form>
    
    <hr>
    
    <label for="publicUrl2">Lien de partage :</label>
    <input id="publicUrl2" type="text" value="{{ public_url }}" readonly>
    <form action="{{ path('wishlist_share_to_all', {'id': wishlist.id}) }}" method="POST">
      <button type="submit">partager à tous</button>
    </form>
  </div>
</div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/scripts.js') }}"></script>
     <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}
